### Week 4: Control Flow 
##### Objective: Master control flow mechanisms in Python for decision-making and iteration. 

##### Topics: 

1. `Conditional statements (if, elif, else)`
2. `Loops (for, while)`
3. `List comprehension`

### Conditional Statements
Conditional statements help us decide which block of code to execute based on certain conditions. They are used to test whether a statement is True or False

### Student Admission Eligibility

In [6]:
name = input("Please enter your name: ")
age = int(input("Please enter your age: "))

if age <15:
    print(f"{name} can't be admitted")
elif age>= 15 and age <= 40:
    print(f"{name} can be admitted to the school")
else:
    print(f"{name} is too aged for admission")

Please enter your name:  Mercy
Please enter your age:  46

Mercy is too aged for admission

#### Cinema Attendant

In [9]:
name = input("Please enter your name: ")
age = int(input("Please enter your age: "))

if age < 13:
    print(f"Hello {name}, you are welcome, use the code KD44")
elif age >=13 and age <18:
    print(f"Hello {name}, you are welcome to the teens show, use the code TN45")
else:
    print(f"Hello {name}, you are welcome! Do enjoy the show with AD46")

Please enter your name:  Mohamed
Please enter your age:  32

Hello Mohamed, you are welcome! Do enjoy the show with AD46

### Loops

Loops are used to repeat a block of code multiple times. Python supports two types of loops:

`For Loop:` Used when you want to iterate over a sequence (such as a list, tuple, or range).

`While Loop:` Repeats as long as a certain condition is true.

In [12]:
Numbers = [1,2,3,4,5,6,7,8,9,10]

for num in Numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [13]:
Numbers = [1,2,3,4,5,6,7,8,9,10]

for num in Numbers:
    if num %2 ==0:
        print(num)

2
4
6
8
10

In [17]:
count = 0

while count<10:
    count= count+1
    print(count)

1
2
3
4
5
6
7
8
9
10

#### Student Exam Results Analyzer

This Analyser works based on average score

In [22]:
number_of_students = int(input("Please enter the total number of students: "))

# initialised an empty student DB
student_database = {}

for i in range(number_of_students):
    name = input("Please enter your name: ")
    score = int(input("Please enter your score: "))
    student_database[name] = score
print(student_database)

Please enter the total number of students:  5
Please enter your name:  James
Please enter your score:  40
Please enter your name:  Mohamed
Please enter your score:  59
Please enter your name:  Zainab
Please enter your score:  69
Please enter your name:  Dauda
Please enter your score:  30
Please enter your name:  Farida
Please enter your score:  37

{'James': 40, 'Mohamed': 59, 'Zainab': 69, 'Dauda': 30, 'Farida': 37}

In [23]:
dir(student_database)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [25]:
student_database

{'James': 40, 'Mohamed': 59, 'Zainab': 69, 'Dauda': 30, 'Farida': 37}

In [24]:
student_database.values()

dict_values([40, 59, 69, 30, 37])

In [27]:
total_score = sum(student_database.values())
total_score

235

In [37]:
Average_score = int(total_score/number_of_students)
Average_score

47

In [29]:
student_database.items()

dict_items([('James', 40), ('Mohamed', 59), ('Zainab', 69), ('Dauda', 30), ('Farida', 37)])

In [38]:
for name, score in student_database.items():
    if score >= Average_score:
        print(f"{name} is eligible with score {score}")

Mohamed is eligible with score 59
Zainab is eligible with score 69

### List Comprehension

`List comprehension` offers a shorter syntax to create lists based on existing lists, usually using loops in a single line.

`Syntax`

[`expression` for item in `iterable` if condition]

In [40]:
choice_numbers = [1,2,3,4,5,6,7,8,9,10]

for numbers in choice_numbers:
    print(numbers)

1
2
3
4
5
6
7
8
9
10

In [43]:
upgrade = [numbers*2 for numbers in choice_numbers]
upgrade

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [62]:
upgrade = [numbers*3 for numbers in choice_numbers]
upgrade

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

#### Salary raise implementation using List comprehension

In [71]:
Salaries = [80, 200, 300, 400]

for i in range(len(Salaries)):
    if Salaries[i]< 100:
        Salaries[i]=Salaries[i]*2

In [72]:
Salaries

[160, 200, 300, 400]