# GLOBAL AI OCEAN [GAIO_001]
### INTRODUCTION TO DATA ANALYSIS

### What is a Variable?

A **variable** in Python is a symbolic name that holds a reference to a value. It acts as a container that stores data for later use, allowing you to work with that data by calling the variable name. For example, if you store a number in a variable, you can later perform mathematical operations using that variable.

##### Came VAriables with `age`, `name` and `Height`

### Rules for Naming a Variable in Python:

1. **Must begin with a letter or underscore (`_`)**

In [1]:
# Wrong example

1st_name = "David"

SyntaxError: invalid decimal literal (924109330.py, line 3)

In [2]:
#Right example

first_name = "David"

In [4]:
# Another right example

_Firstname = "David"

In [5]:
_First_name = "David"

2. **Variable name cannot start with a number**:

In [6]:
# Wrong way od going it

1st_name = "Samule"

SyntaxError: invalid decimal literal (1312512864.py, line 3)

In [7]:
#Right way of doing it

First_name = "Samuel"

3. **Case-sensitive**:
   - Python is case-sensitive, meaning `name`, `Name`, and `NAME` would be treated as different variables.

In [8]:
# case sensitivity

NAME = "Samuel"
print(Name)

NameError: name 'Name' is not defined

In [9]:
# Wrong case sensitivity

NAME = "Samuel"
print(name)

NameError: name 'name' is not defined

In [10]:
# The right way

NAME = "Samuel"
print(NAME)

Samuel

4. **Cannot use Python keywords:**
   - Python keywords (reserved words) cannot be used as variable names. These are words reserved for specific syntactic purposes, such as `if`, `else`, `while`, `for`, `True`, `False`, etc.
  
   To check know what python keywords are you can use the `keyword library`

In [15]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# You can not give variables any of the above names, else you'll get an error

In [11]:
class = "JSS 3"

SyntaxError: invalid syntax (112072698.py, line 1)

### If you use any of the above key words, python will throw an error

### What is a Data Type?

A **data type** in Python refers to the classification or categorization of data items. It tells the interpreter what kind of value a variable holds, defining the operations that can be performed on the data. Python has several built-in data types, and they are automatically assigned when you create a variable.

### Common Python Data Types:

1. **Numeric Types**:
     - **int**: Represents integers (whole numbers).
     - **float**: Represents floating-point numbers (numbers with decimals).

In [16]:
# Ints example

Width = 5.5
age = 20
print(Width)
print(age)

5.5
20

In [17]:
type(Width)

float

In [18]:
type(age)

int

2. **String (str)**:
   - A string is a sequence of characters enclosed in single, double, or triple quotes. i.e `' '` or `" "`

In [20]:
# Using double quotation

Name = "David"
print(Name)

David

In [21]:
# Using single quotation

Name = 'David'
print(Name)

David

3. **Boolean (bool)**:
   - Boolean values represent `True` or `False` and are used for conditions and comparisons.ython's data types, you'll know how to effectively store, manipulate, and work with different kinds of data in your programs.

In [22]:
# With timw we'll get to learn how to apply boolean data type but for just know that it is True of False data type

## Explaining The Dynamic Nature of Python Typing

Python is **dynamically typed**, meaning you don't need to declare the type of a variable explicitly. The interpreter assigns the data type based on the value.

In [18]:
Age  = 5
type(Age)

int

### Operstors in Python Programming
1. **arithmetic** operators
2. **comparison** operators
3. **logical** operators
4. **assignment** operators


### 1. **Arithmetic Operators**
These are used to perform basic mathematical operations like addition, subtraction, multiplication, etc.

- `+`: Addition
- `-`: Subtraction
- `*`: Multiplication
- `/`: Division
- `**`: Exponentiation
- `%`: Modulus (returns the remainder)
- `//`: Floor Division (returns the quotient rounded down)

In [26]:
a = 40
b = 20

In [27]:
# Addition

print(a+b)

60

In [28]:
# Subtraction

print(a-b)

20

In [29]:
# Divivsion

print(a/b)

2.0

In [31]:
# Multiplication

print(a*b)

800

In [32]:
# Exponential (raise to the power)

print(a**2)

1600

In [33]:
# MOdulus--> REturns remainder

print(10%3)

1

##### 10%3 will return `1` because `10` devided by `3` is `3` remainder `1`

In [34]:
# Floor Division

print(10//3)

3

#### We are getting 3 because floor division rounds numbers down

### 2. **Comparison Operators**
These are used to compare two values and return a boolean result (`True` or `False`).

- `==`: Equal to
- `!=`: Not equal to
- `>`: Greater than
- `<`: Less than
- `>=`: Greater than or equal to
- `<=`: Less than or equal to

In [38]:
c = 35
d = 45

In [40]:
# Compare equality

c == d

False

In [41]:
# Compare with 'not equal to' !=

c !=d

True

In [42]:
c > d

False

In [43]:
c<d

True

#### Greaeter than or equal to >=

The will give you True if `AT LEAST`one of the conditions is true

In [45]:
c >= d

False

#### Less than or equal to <=

The will give you True if `AT LEAST` one of the conditions is true

In [46]:
c<=d

True

### 3. **Logical Operators**
These are used to combine conditional statements and return `True` or `False` based on the logic of the operation.

- `and`: Returns `True` if both conditions are `True`
- `or`: Returns `True` if at least one condition is `True`
- `not`: Reverses the result (returns `True` if the condition is `False`)

In [47]:
# Let us assign boolean values to 

x = True
y = False

#### and operator

In [49]:
# 'and' operator: True only if both conditions are True
result_of_and = x and y
print("Result of 'x and y':", result_of_and)

Result of 'x and y': False

#### or operator

In [50]:
# 'or' operator: True if at least one condition is True
result_of_or = x or y
print("Result of 'x or y':", result_of_or)

Result of 'x or y': True

#### result of not operator

In [51]:
# 'not' operator: Inverts the Boolean value
result_of_not = not x
print("Result of 'not x':", result_of_not)

Result of 'not x': False

### 4. **Assignment Operators**
These are used to assign values to variables. They can also perform arithmetic or bitwise operations on a variable and assign the result back to that variable.

- `=`: Simple assignment
- `+=`: Add and assign
- `-=`: Subtract and assign
- `*=`: Multiply and assign
- `/=`: Divide and assign
- `//=`: Floor divide and assign
- `%=`: Modulus and assign
- `**=`: Exponent and assign

In [52]:
# Simple assignment
x = 5
print("x =", x)

x = 5

In [53]:
# += : Add and assign
x += 3
print("x after x += 3:", x)

x after x += 3: 8

 ### Note: `x += 3` and `x = x + 3` are thesame thing

In [55]:
# -= : Subtract and assign

x -= 2
print("x after x -= 2:", x)

x after x -= 2: 4

 ### Note: `x -= 2` and `x = x - 2` are thesame thing

In [56]:
# *= : Multiply and assign
x *= 4
print("x after x *= 4:", x)

x after x *= 4: 16

 ### Note: `x *= 4` and `x = x * 4` are thesame thing

In [57]:
# /= : Divide and assign
x /= 6
print("x after x /= 6:", x)

x after x /= 6: 2.6666666666666665

 ### Note: `x /= 6` and `x = x / 6` are thesame thing

In [59]:
# //= : Floor divide and assign
x //= 2 
print("x after x //= 2:", x)

x after x //= 2: 0.0

 ### Note: `x //= 2` and `x = x // 2` are thesame thing

In [60]:
# %= : Modulus and assign
x %= 2
print("x after x %= 2:", x)

x after x %= 2: 0.0

 ### Note: `x %= 2` and `x = x % 2` are thesame thing

In [61]:
# **= : Exponent and assign
x = 3
x **= 2
print("x after x **= 2:", x)

x after x **= 2: 9

## The End