## Revision

In [11]:
# Write a code to get the average height of student using an input function.

students_height = input('Write the heights of the students: ').split(',')

for h in range(len(students_height)):
    students_height[h] = float(students_height[h])

# Add all the heights in the list
total_height = 0
for height in students_height:
    total_height += height

# count the amount of students
amount_of_students = 0
for students in range(len(students_height)):
    amount_of_students += 1
    
# find the average height  
average_height = total_height/amount_of_students
average_height

Write the heights of the students: 6,6,7,5,6
['6', '6', '7', '5', '6']

[6.0, 6.0, 7.0, 5.0, 6.0]

In [13]:
# sum a particular number using a for loop
total_sum = 0
for num in range(1,101):
    total_sum += num
total_sum

5050

In [14]:
# sum even
even = 0
for num in range(1,101):
    if num % 2 == 0:
        even += num
even

2550

In [15]:
# sum odd
odd = 0
for num in range(1,101):
    if num % 2 != 0:
        odd += num
odd

2500

In [18]:
# Students scores 
# get the heighest score using a for loop
students_score = input('Write the scores: ').split(',')

for s in range(len(students_score)):
    students_score[s] = int(students_score[s])

# Add all the heights in the list
heighest_score = 0
for score in students_score:
    if score >= heighest_score:
        heighest_score = score
heighest_score

Write the scores: 50,60,70,75,100,99,45
['50', '60', '70', '75', '100', '99', '45']

100.0

In [19]:
# for loop with dictionaries
data = {'first_name':'James','second_name':'Muhammad','age':25,'height':1.5}
for attribute,value in data.items():
    print(f'My {attribute} is {value}')

My first_name is James
My second_name is Muhammad
My age is 25
My height is 1.5

In [34]:
# prime checker function
def prime_checker(num):
    prime = True
    if num == 0 or num == 1:
        print('Not a prime number')
    elif num > 1:
        for i in range(2,num):
            if num % i == 0:
                prime = False
                
        if prime:
            print('Its a prime number')

        else:
            print('It is not a prime number')

In [37]:
prime_checker(13)

Its a prime number

In [38]:
prime_checker(20)

It is not a prime number